.next/dev/
.next/cache/
.next/**/*.map
.next/trace
.next/trace-build
.next/turbopack
.larkup/
.larkupdb/
.turbo/
node_modules/
*.log
.DS_Store
tsconfig.tsbuildinfo
.env
.env.*
.next/standalone/node_modules/
.next/standalone/apps/web/node_modules/
