node_modules
**/.next
.git
.turbo
*.md
.dockerignore
Dockerfile
docker-compose.yml
.env*
!.env.example
**/.larkup
**/gen
**/lancedb
**/proxies.txt
**/.viminfo
.viminfo
**/.DS_Store
.DS_Store
hpi-connect.txt
apps/web/webui.log
npm-login.sh
**/node_modules
apps/desktop/src-tauri/target
**/target