node_modules
**/.next
.git
.turbo
*.md
.dockerignore
Dockerfile
docker-compose.yml
.env*
!.env.example
**/.larkup
**/gen
**/lancedb
**/proxies.txt
**/.viminfo
.viminfo
**/.DS_Store
.DS_Store
hpi-connect.txt
apps/web/webui.log
npm-login.sh
**/node_modules
apps/desktop/src-tauri/target
**/target

# Excluded apps
apps/larkup-proxy/*
!apps/larkup-proxy/package.json
apps/desktop/*
!apps/desktop/package.json
apps/e2e/*
!apps/e2e/package.json
apps/cli/*
!apps/cli/package.json
apps/docs/*
!apps/docs/package.json
apps/sdk/*
!apps/sdk/package.json
apps/local-chat-connection-larkup/*
!apps/local-chat-connection-larkup/package.json