.snowflake/
.vercel/

# Environment variables
.env*.local
.env

# Common ignores
node_modules
.next/
.DS_Store

# RAG Toolkit local state
.ragtoolkit/
proxies.txt

# LanceDB data
dummy/
lancedb/

# Turbo
.turbo/

__pycache__
venv
.venv
.pytest_cache
apps/docs
dist
apps/web/demo
npm-login.sh