# Embedding & LLM Providers
AI_GATEWAY_APIKEY="your-ai-gateway-api-key"
OPENAI_API_KEY="your-openai-api-key"
ANTHROPIC_API_KEY="your-anthropic-api-key"
DEEPSEEK_API_KEY="your-deepseek-api-key"
GEMINI_API_KEY="your-gemini-api-key"

# Vectorstore 
## Pinecone
PINECONE_INDEX_NAME="demo"
PINECONE_APIKEY="your-pinecone-api-key"

## Chroma Cloud
CHROMA_TENANT="your-chroma-tenant-id"
CHROMA_API_KEY="your-chroma-api-key"
CHROMA_DB="demo"

# Firecrawl Cloud
FIRECRAWL_CLOUD_API_KEY="your-firecrawl-cloud-api-key"

# Search
SERPER_API_KEY="your-serper-api-key"
