# LLM API Keys
AI_GATEWAY_APIKEY=""
OPENAI_API_KEY=""
ANTHROPIC_API_KEY=""
DEEPSEEK_API_KEY=""
GEMINI_API_KEY=""

# Vector Store Variables
PINECONE_INDEX_NAME=""
PINECONE_APIKEY=""
CHROMA_TENANT=""
CHROMA_API_KEY=""
CHROMA_DB=""

# Integration Variables
FIRECRAWL_CLOUD_API_KEY=""
SERPER_API_KEY=""
